{% extends 'base.html' %}
{#{% load crispy_forms_filters %}#}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{#{% crispy form %}#}
{% bootstrap_javascript %}
{{ jQuery }}



{% block title %}Neue Abrechnung{% endblock title %}
{% block styles %}{{ form.media }}{% endblock styles %}

{% block content %}

{% if event.name %}
    <h4>Abrechnung mit Namen {{ event.name }} ändern:</h4>
  {% else %}
    <h4>Neue Abrechnung: </h4>
  {% endif %}
  <hr>
  
  <section class="container">
    <h3 class="pt-4 pb-2">Eingabeformular</h3>
    
    <form method="post">{% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Save">
    </form>
  </section>
  

    
{#    {{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
{#      <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form | crispy }}  {# Renders form fields #}
{#    </form>#}
    
{#      <form>#}
{#        <div class="row form-group">#}
{#          <input type="text" class="form-control" id="datepicker" placeholder="TT.MM.JJJJ" label="startdate"/>#}
          
{#          <label for="date" class="col-sm-1 col-form-label">Startdatum</label>#}
{#          <div class="col-sm-4">#}
{#            <div class="input-group date" id="datepicker">#}
{#              <input type="text" class="form-control" label="startdate">#}
{#              <span class="input-group-append"></span>#}
{#                <span class="input-group-text bg-white d-block">#}
{#                  <i class="fa fa-calender"></i>#}
{#                </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div style="margin-left: 140px; margin-top: 20px;">#}
{#          <a style="margin-right: 40px;" class="btn btn-secondary" href="{% url 'expenses:event_list' %}">Cancel</a>#}
{#          <button type="submit" class="save btn btn-success">Sichern</button>#}
{#        </div>#}
{#      </form>#}
  
  
{#  <script type="text/javascript">#}
{#    $(function() {#}
{#      $('#datepicker').datepicker({#}
{#        monthNames: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],#}
{#		    monthNamesShort: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],#}
{#		    dayNames: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],#}
{#		    dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],#}
{#		    dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],#}
{#        showMonthAfterYear: false,#}
{#        showOn: 'both',#}
{#        buttonImage: 'media/img/calendar.png',#}
{#        buttonImageOnly: true,#}
{#        language: 'de',#}
{#        format: 'DD, dd.mm.yyyy',#}
        {#format: 'dd.mm.yyyy',#}
{#        startDate: '-10',#}
{#        todayHighlight: true,#}
{#        autoclose: true,#}
{#      });#}
{#    });#}
{#  </script>#}

{#  <form action="" method="POST">{% csrf_token %}#}
{#    {{ form }}#}
{#    <table>#}
{#      {% for field in form %}#}
{##}
{#        <tr>#}
{#          <td>{{ field.label }}</td>#}
{#          <td>{{ field }}</td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{#    <br>#}
{#    <div style="margin-left: 140px">#}
{#      <a style="margin-right: 40px;" class="btn btn-secondary" href="{% url 'expenses:event_list' %}">Cancel</a>#}
{#      <button type="submit" class="save btn btn-success">Sichern</button>#}
{#    </div>#}
{#  </form>#}

{% endblock content %}