{% extends 'base.html' %}

{% block title %}Dateianhang entfernen{% endblock title %}

{% block content %}
  
  <div class="container">
    <form method="post" class="card">
		{% csrf_token %}
		<h3>Datei:</h3>
      <br>
		<p>{{file.file_name}}</p>
      
    <div style="margin-left: 300px">
      <a style="margin-right: 40px;" class="btn btn-secondary" href="{% url 'expenses:travel_list' pk=event.pk %}">Cancel</a>
      <button type="submit" class="btn btn-danger">Löschen</button>
    </div>
  

	</form>
  
   

  
  </div>

{% endblock content %}