{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
  <h4>Einstellungen </h4>
  <br>
  {% if user.is_authenticated %}

    <h5>für {{ user.first_name }}  {{ user.last_name }} sind abgespeichert!</h5>

    <br>

    <table>
      <tr><td class="label">Vorname: </td><td>{{ referee.firstname }}</td></tr>
      <tr><td class="label">Nachname: </td><td>{{ referee.lastname }}</td></tr>
      <tr><td class="label">Straße: </td><td>{{ referee.street }}</td></tr>
      <tr><td class="label">Hausnummer: </td><td>{{ referee.houseno }}</td></tr>
      <tr><td class="label">Postleitzahl: </td><td>{{ referee.pid }}</td></tr>
      <tr><td class="label">Stadt: </td><td>{{ referee.city }}</td></tr>
      <tr><td class="label">Telefonnummer: </td><td>{{ referee.telefon }}</td></tr>
      <tr><td class="label">IBAN: </td><td>{{ referee.IBAN }}</td></tr>
      <tr><td class="label">BIC: </td><td>{{ referee.BIC }}</td></tr>
      <tr><td class="label">Bankname: </td><td>{{ referee.nameBank }}</td></tr>

    </table>

    <table style="margin-top: 30px" width="100%">
      <tr>
        <td><a class="btn btn-secondary" href="{% url 'expenses:event_list' %}">Cancel</a></td>
        <td><a class="btn btn-info" href="{% url 'expenses:referee_update' pk=referee.pk %}">Ändern</a></td>
{#        <td width="50%"><button type="submit" value="Update" class="btn btn-success">Submit</button></td>#}
      </tr>
    </table>

  {% endif %}
{% endblock content %}